html {}

button {
    padding: 20px;
    background-color: green;
    border-radius: 40px;
    cursor: pointer;
    margin-right: 10px;
    transition: opacity 0.20s;
}

button:hover {
    opacity: 0.8;
}

button:active {
    background-color: rgb(2, 92, 2);
}

a {
    text-decoration: none;
    color: yellow
}

/*Navigation buttons*/
button {
    margin: 6px;
    width: 170px;
    border: none;
    font-size: 20px;
}

/*
Fundamental bar to avoid that
the page-title cover the button
*/
.fixed-bar {
    height: 90px;
}

/*header*/
.page-title {
    position: fixed;
    width: 98%;
    background-color: green;
    color: yellow;
    padding: 10px;
    font-size: 50px;
    margin: 0px;
    text-align: center;
}

.join {
    color: black;
    text-decoration:underline;
}

.me {
    width: 600px;
    height: auto;
}

.essen {
     width: 600px;
     height: auto;
}

.introduction {
    text-align: justify ;    
}
