html {}

.button {
    color: yellow;
    text-decoration: none;
    margin: 10px;
    border: none;
    font-size: 20px;
    padding: 15px 30px;
    background-color: green;
    border-radius: 30px;
    cursor: pointer;
    transition: opacity 0.20s;
}

.button:hover {
    opacity: 0.8;
}

.button:active {
    background-color: rgb(2, 92, 2);
}

/*
Fundamental lines of code to avoid
that the page-title cover the button
*/
.fixed-bar {
    height: 60px;
}

/*header*/
.page-title {
    position: fixed;
    width: 98%;
    background-color: green;
    color: yellow;
    padding: 10px;
    font-size: 50px;
    margin: 0px;
    text-align: center;
}

.important {
    font-size: 19px;
    color: red;
}

.join {
    color: black;
    text-decoration: underline;
}

.me {
    width: 600px;
    height: auto;
}

.essen {
    width: 600px;
    height: auto;
}

.introduction {
    width: 600px;
    text-align: justify;
    font-size: 16px;
}